.container {
  padding: 0 2rem;
}

.bbtnGenerate {
  padding: 16px;
  border-radius: 10px;
  border: 2px solid #dbedf3;
  font-size: 1rem;
  font-weight: 600;
  background-color: #283149;
  color: #dbedf3;
  margin-bottom: 30px;
}

.bbtnGenerate:hover {
  background-color: #dbedf3;
  color: #283149;
  cursor: pointer;
  transition: ease-in-out;
}

.containerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbedf3;
}

.infoDescription {
  font-size: 1rem;
  color: #dbedf3;
  width: 80%;
}

.sendMail {
  width: 15%;
  height: 50px;
  background-color: #dbedf3;
  color: #283149;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 4rem;
  color: #dbedf3;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .title,
  .bbtnGenerate,
  .containerInfo,
  .infoDescription,
  .sendMail {
    transition-property: all;
    transition-timing-function: linear;
  }

  .title {
    font-size: 2rem;
  }

  .bbtnGenerate {
    background-color: #dbedf3;
    color: #283149;
    cursor: pointer;
  }

  .containerInfo {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }

  .infoDescription {
    width: 100%;
  }
  .sendMail {
    width: 30%;
  }
}

@media screen and (max-width: 420px) {

  .sendMail {
    width: 50%;
    transition-property: all;
    transition-timing-function: linear;
  }
}
